
.frontPage {
	padding: 20vh 15vh;
	height: 100vh;
	box-sizing: border-box;
}

.titleBox {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    margin: 3em;
}

#logo {
	width: 10em;
	height: 10em;
	border-radius: 50%;
	margin: auto;
}

#pageName {
	font-family: 'Lobster Two', cursive;
	font-size: 6em;
	color: rgb(66, 66, 66);
	line-height: 2em;
  	vertical-align: middle;
  	margin: auto;
}

.subtitleBox {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
	color: rgb(66, 66, 66);
}

.subtitleBox div {
	margin: auto;
}

.subtitleBox img {
	height: 2em;
	width: 2em;
}

#bio {
  background-color: #0B222A;
  background-image: url("image/lightbulb.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 70%;
  max-height: 35vh;
  padding: 10%;
  font-family: Raleway;
  color: white;
}

#bio h1 {
  font-size: 2em;
  font-weight: 100;
}

.centeredText {
  text-align: center;
}

a{
	color: inherit;
	padding: 0.25em 0;
}

a:link{
	text-decoration: none;
	color: inherit;
}

a:hover{
	border-bottom: 1px dashed;
}

@media only screen and (min-width: 1024px) { 
	.titleBox {
		margin: 1em 12em;
	}
	.subtitleBox {
		margin: 3em 9em;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) { 
	html{
		font-size: 14pt;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) { 
	html{
		font-size: 9pt;
	}
	.frontPage {
		padding: 20vh 10vh;
	}
	#logo {
		width: 6em;
		height: 6em;
	}
}

@media only screen and (max-width: 479px) { 
	html{
		font-size: 6pt;
	}
	.frontPage {
		padding: 20vh 1vh;
	}
}

