.titleBox {
	display: flex;
	justify-content: center;
    margin-top: 6em;
}

.logo {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin: 4em;
	margin-left: 0;
}

h1 {
	font-family: 'Lobster Two', cursive;
	font-size: 6em;
	color: rgb(66, 66, 66);
}

.subtitleBox {
	display: flex;
	justify-content: space-between;
	margin-left: 10em;
	margin-right: 10em;
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	color: rgb(66, 66, 66);
}

a{
	color: inherit;
	padding: 0.25em 0;
}

a:link{
	text-decoration: none;
	color: inherit;
}

a:hover{
	border-bottom: 1px dashed;
	color: teal;
}

@media only screen and (min-width: 40em) { 
	html{
		font-size: 12pt;
	}
}
@media only screen and (min-width: 20em) and (max-width: 40em) { 
	html{
		font-size: 10pt;
	}
}

@media only screen and (max-width: 20em) { 
	html{
		font-size: 9pt;
	}
}