
#frontPage {
	height: 100vh;
	position: relative;
}

.centerBox {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titleBox {
	display: flex;
	justify-content: center;
    margin: 3em 0em;
}

#logo {
	width: 6em;
	height: 6em;
	border-radius: 50%;
	margin: auto;
	margin-right: 2em;
}

#pageName {
	font-family: 'Lobster Two', cursive;
	font-size: 6em;
	color: rgb(66, 66, 66);
  	margin: auto;
  	white-space: nowrap;
}

.subtitleBox {
	display: flex;
	justify-content: space-between;
	margin: auto 2em;
	font-family: 'Raleway', sans-serif;
	color: rgb(66, 66, 66);
}

.subtitleBox img {
	height: 3em;
	width: 3em;
}

#bio {
  background-color: #ffffff;
  background-image: url("image/snow.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  position: relative;
}

#bio article {
  font-family: Raleway;
  color: white;
  background-color: rgba(128, 128, 128, 0.6);
  padding: 1% 5%;
  width: 60%;
}

#bio h1 {
  font-size: 2em;
  font-weight: 100;
}

.centeredText {
  text-align: center;
}

#project {
  background-color: #ffffff;
  background-image: url("image/lightbulb.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  max-height: 100vh;
  padding: 20%;

}

a{
	color: inherit;
	padding: 0.25em 0;
}

a:link{
	text-decoration: none;
	color: inherit;
}

a:hover{
	border-bottom: 1px dashed;
}

@media only screen and (min-width: 1px) { 
	html{
		font-size: 0.75em;
	}
	#pageName {
		font-size: 3.5em;
	}
	.centerBox {
	    width: 80%;
	}		
}

@media only screen and (min-width: 481px) { 
	html{
		font-size: 0.9em;
	}
	#pageName {
		font-size: 5em;
	}
	.centerBox {
	    width: 50%;
	}
}

@media only screen and (min-width: 769px) { 
	html{
		font-size: 1em;
	}
	#pageName {
		font-size: 6em;
	}
	.centerBox {
	    width: 40%;
	}
}

@media only screen and (min-width: 1024px) { 
	html{
		font-size: 1.1em;
	}
}


